* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #0e1117;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.hero {
  background: linear-gradient(180deg, #111827, #0e1117);
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero p {
  color: #cbd5e1;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 22px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.primary {
  background: #facc15;
  color: #000;
}

.whatsapp {
  background: #25d366;
}

.telegram {
  background: #229ed9;
}

.services, .cases, .contact {
  border-top: 1px solid #1f2937;
}

h2 {
  margin-bottom: 20px;
  font-size: 26px;
}

ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.warning {
  margin-top: 20px;
  color: #f87171;
}

.phone {
  font-size: 22px;
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  color: #9ca3af;
  font-size: 14px;
}

.gallery {
  border-top: 1px solid #1f2937;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.photos img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  h2 {
    font-size: 22px;
  }

  .buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .btn {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .container {
    padding: 30px 15px;
  }

  ul li {
    font-size: 16px;
  }

  .phone {
    font-size: 20px;
  }
  .photos {
  grid-template-columns: 1fr;
  }
  
  .photos {
    grid-template-colums: 1fr;
  }
  
  .photos img {
    height: 200px;
  }

  
}
